@import "../../../utils/theme/colors.scss";

.content{
    padding: 20px;
    .header{
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    .split{
        display: flex;
        column-gap: 30px;
        scrollbar-gutter: stable;
        flex-wrap: wrap;
        .side{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            &.right{
                flex: .7;
            }
            h6{
                margin-left: 20px;
                font-size: 1.5rem;
            }
            .sideHeader{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
            .card{
                max-width: 500px;
                width: 100%;
            }
        }
    }
}

.horizontal{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}