@import "../../../utils/theme/colors.scss";

.content{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .headerButtons{
            display: flex;
            column-gap: 20px;
        }
    }
    .catalog{
        padding: 20px 0;
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(400px, 1fr)
        );
        gap: 30px;
        .card{
            padding: 20px;
            max-width: none;
            position: relative;
            overflow: hidden;
            &.completed::after{
                content: 'completo';
                position: absolute;
                width: fit-content;
                height: fit-content;
                padding: 5px 20px;
                font-size: .8rem;
                color: $white;
                text-align: center;
                background: $primary;
                right: 0;
                top: 0;
            }
            .cardHeader{
                display: flex;
                justify-content: start;
                align-items: center;
                padding-bottom: 10px;
                column-gap: 20px;
                .priority{
                    padding: 2px 15px;
                    color: $white;
                    font-size: 0.7rem;
                    margin-left: 10px;
                    background: $secondary;
                    &.high{
                        background: $danger
                    }
                    &.medium{
                        background: $warn
                    }
                    &.low{
                        background: $gray
                    }
                }
            }
            .questions{
                padding-bottom: 10px;
                font-size: .7rem;
                color: $primary
            }
            .button{
                width: auto
            }
        }
    }
}