.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .card{
        max-width: 90%;
        header{
            display: flex;
            justify-content: space-between;
            align-items: start;
            padding-bottom: 10px;
        }
    }
}

.tag{
    width: fit-content;
}